.slideshow {
	padding-top: 50px;	
	position:relative;
	background-color:#F7f7f7;
	padding-bottom: 20px;

	h2{
		border-bottom: 1px solid $secondaryColor;
		font-family:$primaryFont;
		font-weight:300;
		width:25%;
		text-align:center;
		margin:0 auto;
		padding:3% 0 20px 0;
		@include fontSize(3em);
		margin-bottom: 5%;

		@include respond(phone) {
			width:80%;
		}

		@include respond(tab) {
			width:70%;
		}

		@include respond(tab-land) {
			width:40%;
		}
	}
}


.carousel-cell {
 width: 33.3%; 
 height:auto;	

	@include respond(tab-land) {
		width: 50%;
	}

	@include respond(phone) {
		width:100%;
	}
	img{
		width:100%;
		padding:10px;
	}

}

.main-carousel{
	width:100%;
	// height:52vh;
	margin-bottom:7%;
	padding:30px 0 30px 0;
	background-image: linear-gradient(to top right, rgba(189, 137, 113,.2) 80%, rgb(218,255,231) 20%);
	background-attachment: fixed;
}


